<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>后台首页</title>
	<link rel="stylesheet" href="../../public/css/bootstrap.min.css">
	<script src="../../public/js/vue.js"></script>
	<script src="../../public/js/vue-resource.js"></script>
	<style>
		header {
			height: 50px;
		}
		.nav-pills{
			
		}
	</style>
</head>

<body>
	<div class="container-fluid">

		<header class="row">
		<div>
			
		</div>
			<ul class="nav nav-pills">
				<li role="presentation" class="active"><a href="#">用户</a></li>
				<li role="presentation"><a href="#">栏目</a></li>
				<li role="presentation"><a href="#">文章</a></li>
			</ul>
		</header>

	</div>
</body>

</html>